.mapborder{
    box-sizing: content-box;    
    width: 341px;
    height: 573px;
    padding: 30px;    
    border: 1px solid black;
}
.mapborder1{
box-sizing: content-box;    
    width:413px;
    height: 577px;
    position: relative;
    left: 402px;
    bottom: 635px;
    padding: 30px;    
    border: 1px solid black;
}
a:hover {
    background-color: rgb(246, 247, 248);
}